.container-logout {
    padding: 30px 45px 50px 45px;
}

.logout {
    background: var(--blue);
    border: none;
    border-radius: 7px;
    padding: 10px;
    width: 125px;
    &:hover{
        cursor: pointer;
    }
    span {
        color: var(--primary);
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }
}

.container-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    width: 40%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    gap: 25px;
    max-width: 500px;
}

.pedido {
    display: flex;
    border: 2px solid var(--grey-light);
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 30px;
    gap: 8px;
    width: 100%;
}

.pedido li {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-light);
}

.head-pedido {
    display: flex;
    justify-content: space-between;
}

.body-pedido {
    padding: 5px 10px;
}

.body-pedido li {
    font-size: 0.8rem;
    font-weight: 400;
}

.itens-pedido {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 10px;
}

.active {
    background-color: var(--grey-light);
    span{
        color: var(--primary);
    }
}

.loading {
    background-color: var(--grey-light);
    border-radius: 10px;
    height: 200px;
    width: 550px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-head {
    border: 2px solid var(--grey-light);
    border-radius: 10px;
    color: var(--black-light);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 15px;
    &:hover{
        cursor: pointer;
    }
}

.container-button{
    display: flex;
    justify-content: center;
}

.button-update{
    background: var(--blue);
    border: none;
    border-radius: 7px;
    padding: 10px;
    width: 80%;
    &:hover{
        cursor: pointer;
    }
    span {
        color: var(--primary);
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container-head {
        width: 75%;
    }
    .pedido {
        padding: 10px 20px;
        gap: 4px;
    }
}


@media (max-width: 578px) {
    .container {
        margin: 35px;
    }
    .head-pedido {
        justify-content: flex-start;
        flex-direction: column;
    }
}